name: Gradle CI

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: Install Gradle
      - uses: gradle/actions/setup-gradle@v3

      - name: Build using Gradle
        run:  grade build --no-daemon